
<br></br>
<br/>
<br/>
<br/>

<div class="span6 offset3 smurfy text-center">

	<h1 class="custom-h1">
		Valley Oak Investments
	</h1>

	<h2 class="custom-h2">
		An early-stage investment firm focused on food, agriculture, and health & wellness technologies
	</h2>

</div>

</br>
</br>
</br>

<div class="span4">
<a class="twitter-timeline" href="https://twitter.com/nikohrdy" data-widget-id="437289520061366273">Tweets by @nikohrdy</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>